<div style="margin: 60px 0 30px 0">
  <% if @books %>
    <div class="row">
      <% @books.each do |book| %>
        <div style="margin-bottom: 30px;" class="col-sm-4">
          <div class="card" style="width: 100%;">
             <% if book.photo.attached? && book.photo.representable? %>              
              <%= image_tag(book.photo, width: 200, height: 400, class: "card-img-top") %> 
            <% else %>
              <img class="card-img-top" src="//cdn.jpegmini.com/user/images/slider_puffin_before_mobile.jpg">
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= book.title %></h5>              
              <%=h truncate(book.description, :length => 200, class: "card-text") %>
              <%= link_to "Show", book_url(book), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

